apiVersion: apps/v1
kind: Deployment
metadata:
  name: testapp-deployment
  namespace: devops
  labels:
    app: testapp
spec:
  replicas: 2
  selector:
    matchLabels:
      app: testapp
  template:
    metadata:
      labels:
        app: testapp
    spec:
      containers:
        - name: testapp
          image: us-central1-docker.pkg.dev/gcp-prep26/test-images/testapp:IMAGE_TAG
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "256Mi"
